*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

li {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #e7e7e7;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

// header {
//   background-color: #20232a;
// }

// .planets {
//   display: flex;
//   flex-direction: column;

//   width: 85%;
//   margin: 0 auto;

//   &__heading {
//     margin: 10px 0;
//   }

//   &__info {
//     margin: 10px 0;
//   }

//   &__list {
//     list-style: decimal;
//     margin: 10px 0;
//     padding-left: 20px;
//     width: 120px;

//     border-right: 1px solid #000;
//     &__item {
//       margin-bottom: 8px;
//     }
//   }

//   &__grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 20px;

//     padding: 0 10px;
//     margin: 40px auto;

//     .planet {
//       display: flex;
//       flex-direction: column;

//       // border: 1px dashed #000;
//       box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//       padding: 30px;

//       &__name {
//         font-size: 22px;
//         margin-bottom: 20px;
//       }

//       &__description {
//         font-size: 14px;
//         width: 45ch;
//         line-height: 1.5;
//         color: #313131;
//         margin-bottom: 30px;
//       }

//       &__facts {
//         display: flex;
//         justify-content: space-between;
//         width: 90%;
//         margin-bottom: 50px;
//         &__item {
//           &__name {
//             font-size: 14px;
//             color: #313131;
//           }

//           &__value {
//             font-size: 12px;
//             color: #6b6b6b;
//           }
//         }
//       }
//     }
//   }

//   &__section {
//     display: flex;

//     &__tab {
//       margin-right: 15px;
//       font-size: 14px;
//       color: #b9b9b9;
//       padding: 5px 0;

//       &:hover {
//         color: #6b6b6b;
//       }
//     }
//   }
// }

// .nav {
//   width: 85%;
//   margin: 0 auto;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   padding: 15px 0;

//   h1 {
//     color: #61dafb;
//   }

//   &__list {
//     display: flex;
//     justify-content: space-evenly;
//     width: 500px;

//     &__item {
//       &__link {
//         padding: 20px 10px;

//         &:hover {
//           color: #61dafb;
//         }
//       }
//     }
//   }
// }

// ///////////////////////////////////////////////
// // FEATURES

// .features {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   column-gap: 40px;

//   width: 85%;
//   margin: 60px auto;

//   &__box {
//     &__title {
//       color: #b9b9b9;
//       font-weight: 100;
//       margin-bottom: 20px;
//     }
//     &__description {
//       line-height: 1.6;
//       margin-bottom: 20px;
//     }
//   }
// }

// ///////////////////////////////////////////////
// // FOOTER

// .footer {
//   background-color: #20232a;
//   height: 100px;
//   width: 100%;
//   padding: 15px 0;

//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   // position: absolute;
//   // bottom: 0;
//   // left: 0;

//   .go-to-link {
//     font-weight: 400;
//     color: #61dafb;
//     padding: 15px 15px;
//     transition: all 0.3s;

//     &:hover {
//       color: #fff;
//     }
//   }

//   .button {
//     background-color: #61dafb;
//     padding: 15px 15px;
//     color: #000;
//     font-size: 18px;
//     font-weight: 400;
//     transition: all 0.3s;

//     &:hover {
//       background-color: #fff;
//     }
//   }
// }

// .loading {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   h2 {
//     color: #006885;
//   }
// }

//////////////////////////////////////////
// TO DO LIST

// .header {
//   width: 100%;
//   border: 0.5px solid #cfcfcf;

//   &__nav {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;

//     width: 90%;
//     margin: 0 auto;
//     padding: 10px 0;

//     .day {
//       text-transform: uppercase;
//       font-size: 20px;
//       font-weight: 700;
//     }

//     .date {
//       font-weight: 100;
//       font-size: 14px;
//       margin: 0 5px;
//       flex: 1;
//     }

//     .search {
//       display: block;
//     }
//   }
// }

// .main {
//   width: 90%;
//   margin: 20px auto;
// }

// .todo-item {
//   display: flex;
//   align-items: center;

//   &:not(&:last-child) {
//     margin-bottom: 20px;
//   }

//   &__info {
//     margin-left: 10px;
//     &__name {
//       font-weight: 700;
//       font-size: 14px;
//     }

//     &__time {
//       font-weight: 100;
//       font-size: 12px;
//       color: #8d8d8d;
//     }
//   }
// }

///////////////////////////////////////////////////
// LOG IN

// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   position: absolute;
//   left: 50%;
//   top: 40%;
//   transform: translate(-50%, -50%);

//   .button {
//     background-color: #61dafb;
//     padding: 15px 15px;
//     margin-top: 20px;
//     border-radius: 100px;
//     color: #000;
//     font-size: 18px;
//     font-weight: 400;
//     transition: all 0.1s;

//     &:hover {
//       transform: translateY(-2px);
//     }

//     &:active {
//       transform: translateY(-1px);
//     }
//   }
// }

// IP ADDRESS
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  h3,
  h4 {
    font-weight: 100;
    color: #4b4b4b;
  }

  form {
    margin-bottom: 60px;

    display: flex;
    justify-content: center;

    .input__ip {
      border: 1px solid #f0f0f0;
      padding: 5px 10px;
      border-radius: 5px 0 0 5px;

      &:focus {
        outline: none;
      }
    }

    button {
      border-radius: 0 5px 5px 0;
      border: none;
      padding: 0 5px;
    }
  }

  .error-message {
    color: #ff0000;
  }
}
